{% extends "_shared_base.html" %}
{% block title %}WYPT Match Table{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="static/css/matchtable.css" />{% endblock %}
{% block content %}
<div class="grid-lg">
  <div class="span2"></div>
  <div class="span8">
    <h1 class="center larger">Match Table</h1>
  </div>
  <div class="span2"></div>

  <div class="span12" hx-swap="outerHTML" hx-trigger="load" hx-get="/matchviewtable?limit={{ limit}}&offset={{ offset }}">
    <h1 class="larger center">...</h1>
  </div>
</div>

{% endblock %}
