<div class="span2">
  {% if offset - limit >= 0 %}
    <div class="nav-button small center" hx-get="/matchviewtable?limit={{ limit }}&offset={{ offset - limit }}" hx-trigger="click" hx-target="#matchViewTable">Previous</div>
  {% else %}
    <div class="nav-button-disabled small center">Previous</div>
  {% endif %}
</div>
<div class="span8">
  <h3 class="small center">Page {{ current_page }} of {{ total_pages }}</h3>
</div>
<div class="span2">
  {% if limit + offset < total_rows %}
    <div class="nav-button small center" hx-get="/matchviewtable?{{ limit }}&offset={{ offset + limit }}" hx-trigger="click" hx-target="#matchViewTable">Next</div>
  {% else %}
    <div class="nav-button-disabled small center">Next</div>
  {% endif %}
</div>
