<div id="matchViewTable" class="span12 grid-inner" hx-swap="innerHTML" get="/matchviewtable?limit=100&offset=100" hx-trigger="redrawTable from:body">
  {% include 'matchview/part_nav.html' with context %}
  <div class="span12">
    <table>
      <tr>
        <th class="center">date</th>
        <th class="center">title</th>
        <th class="center">match_name</th>
        <th class="center">match_value</th>
      </tr>
      {% if matchviews %}
        {% for matchview in matchviews %}
        <tr class="small">
          <td>{{ matchview.date | to_datetime }}</td>
          {% if matchview.title %}
          <td><a href="{{ matchview.full_url }}" target="_blank">{{ matchview.title[:60] }}</a></td>
          {% else %}
          <td><a href="{{ matchview.full_url }}" target="_blank">~Untitled~</a></td>
          {% endif %}
          <td>{{ matchview.match_name }}</td>
          <td>{{ matchview.match_value }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="4">No matchviews found</td>
        </tr>
        {% endif %}
      </table>
  </div>
  {% include 'matchview/part_nav.html' with context %}
</div>
